.newsItem 
  display: flex
  position: relative
  max-width: 300px
  cursor: pointer
  transition: 0.2s linear
  flex-direction: column
  box-shadow: 0 14px 27px rgba(71, 80, 105, 0.11)
  border-radius: 4px
  background-color: #ffffff
  text-align: left

.newsItem > img
  width: 100%
  height: auto

.newsItem:hover 
  -webkit-transform: scale(1.05)
  transform: scale(1.05)

.newsItem > div 
  padding: 22px 34px

.newsItem > div > h4 
  color: #ce9ed4
  font-size: 16px
  font-weight: 700
  line-height: 22px

.newsItem > div > span 
  color: #4a5780
  font-size: 13px
  font-weight: 400
  line-height: 20px
  letter-spacing: 0.02px
  display: inline-block
  margin-bottom: 18px
  margin-top: 18px

.lotFooter
  color: #a8acc3
  font-size: 12px
  font-weight: 500
  line-height: 20px
  /* Text style for "February 1" */
  letter-spacing: 0.02px
  display: flex
  justify-content: space-between

.lotFooter > div:first-child > i
  margin-right: 6px

.newsWrapperItem
  margin: 0 auto
  width: 600px
  background-color: white
  display: flex
  position: relative
  transition: 0.2s linear
  flex-direction: column
  box-shadow: 0 14px 27px rgba(71, 80, 105, 0.11)
  border-radius: 4px
  padding: 20px 30px
  margin-top: 40px


.newsWrapperItem > img
  width: 100%
  height: auto

.newsWrapperItem > div > h4
  margin-top: 30px
  font-size: 2em
  margin-bottom: 22px
  color: #ce9ed4
  font-weight: 600

.newsWrapperItem > div > span
  margin-bottom: 15px
  display: inline-block
  position: relative

.newsWrapperItem > div > span:nth-child(4)
  font-weight: bold
  font-size: 3em

.newsWrapperItem > div > button
  margin-top: 40px !important
  width: 150px !important
  height: 40px !important
  
.aucList
  background-color: lightgray
  margin-top: 35px
  padding: 15px 20px

.aucList > ul > li
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%;
  margin: 20px 0

.aucList > ul > li:first-child
  width: 100%


.aucList > ul > li > span
  word-wrap: break-word


.name
  margin-bottom: 12px !important

.qty
  margin-left: 30px

.qtyNumber
  width: 103px;

.size
  width: 74px
  margin-right: 30px

.status
  margin-top: 20px


.modalHeader
  text-align: center
  color: #ce9ed4
  font-size: 24px
  margin-top: 20px

.form
  display: flex
  flex-direction: column
  width: 300px
  margin: 0 auto
  align-items: center
  justify-content: space-between
  margin-top: 25px

.settingsForm
  width: 360px
  margin: 0 auto

.settingsForm > div
  display: inline-flex

.settingsForm > div > div:first-child
  text-align: left !important
  width: 100px

.modalHeaderSettings
  margin-top: 10px
  margin-bottom: 40px

.submitButtonSettings
  margin-bottom: 20px

.uploadPhotoIcon
  font-size: 3.5em
  color: #ce9ed4

.form > div
  width: 242px


.leftbar
  width: 165px
  margin-right: 30px
  margin-top: 40px

.leftbar > span > div > span
  height: inherit !important

.rightbar
  width: 242px

.rightbar > div
  margin-bottom: 0px

.rightside
  display: inline-flex
  width: 100%

.rightside:nth-child(3) > div:first-child
  width: 138px

.rightside > div
  margin-bottom: 0px

.inputNumberPrice
  width: 242px !important;

.inputNumberPrice > div:first-child
  display: none

.inputNumberPrice > div:first-child > input
  padding-right: 23px

.submit
  text-align: center
  margin-top: 40px
  margin-bottom: 15px

.dollarNumber
  position: absolute
  display: inline
  top: 1px
  line-height: 20px
  right: 12px
  font-size: 14px
  color: #babbc2
  background-color: white

.submitButton
  font-size: 16px
  width: 242px !important
  height: 52px !important
  border-radius: 6px !important
  background-color: #ce9ed4 !important
  color: white !important
  margin-top: 30px

.submitButton:hover, .submitButton:active, .submitButton:focus
  color: white !important

.submit > div
  display: inline-block

.image
  width: inherit

.date >
  margin-bottom: 15px

.date > div
  margin-top: 10px
  margin-bottom: 10px