.home 
  margin: 20px 5% 20px 5% !important

.home > h1
  margin-right: 2%
  margin-top: 30px
  text-align: left
  padding-bottom: 25px
  border-bottom: 2px solid lightgray
  font-size: 24px
  color: #babbc2
  
.home > div > button
  margin-top: 40px !important
  width: 156px !important
  height: 52px !important
  border-radius: 6px !important
  background-color: #ce9ed4 !important
  display: inline-block !important
  font-size: 16px !important
  font-weight: 700 !important
  border-width: 0 !important
  color: #ffffff !important

.home > div:last-child
  color: #a6a7ae
  font-size: 14px
  margin-top: 50px
  margin-bottom: 30px  

.layout 
  display: flex
  flex-flow: row nowrap
  justify-content: space-around

.layoutLeft 
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  width: 75%
  height: 210px

.layoutRight 
  display: flex
  flex-flow: column wrap
  justify-content: center

.layoutRight > div:first-child 
  box-shadow: inherit !important

.layout100 
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  width: 100%

.layout75 
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  width: 75%

.blogGrid
  justify-content: baseline
  display: flex
  margin-top: 40px

.blogGrid > a
  margin-right: 40px
  min-width: 170px

.blogGrid > a:last-child
  margin-right: 0px