.mylots
  padding: 30px 5% 30px 5%
  text-align: left

.mylots > header
  margin-bottom: 40px
  width: 100%
  text-align: left
  margin-right: 2%
  padding-bottom: 25px
  border-bottom: 2px solid lightgray
  font-size: 24px

.mylots > header > h2
  color: #babbc2
  

.table 
  border-top: 1px solid #e8eaf2
  border-radius: 0px

.dropdown 
  margin-left: -55px !important
  padding-top: 10px
  padding-bottom: 10px

.pointer 
  width: 6px
  height: 6px
  background-color: #ce9ed5
  border-radius: 50%
  float: right
  margin-top: 8px
  margin-right: -6px

.displayNone 
  display: none

.pointer:hover 
  display: block !important

.dropdown > li 
  cursor: pointer
  padding-left: 20px !important
  padding-right: 20px !important
  width: 140px !important

.dropdown > li:hover, .dropdown > li:focus 
  color: #ce9ed5
  background-color: #f5f7fb !important

.menu 
  width: 142px

.confirm > div > div:first-child 
  display: none

.returnItem 
  cursor: pointer
  margin-left: 20px
  text-decoration: underline
  display: inline-block

.nameColumn 
  display: flex

.nameColumn > img 
  max-width: 42px
  max-height: 42px
  margin-top: 6px
  width: 100%
  height: 100%

.nameColumn > div 
  margin-left: 15px

.nameColumn > div > h3 
  font-size: 16px
  color: #0f1936

.nameColumn > div > div 
  font-size: 14px
  color: #afb4c5

.nameColumn > div > div > span:first-child 
  margin-right: 20px
  