html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    min-width: 980px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.ant-layout-header {
    padding: 0;
    height: 72px;
}
.ant-btn .ant-btn-primary .ant-btn-circle .ant-btn-lg .ant-btn-icon-only {
    width: 28px;
    padding: 0;
    font-size: 14px;
    border-radius: 50%;
    height: 28px !important;
}
.ant-table-tbody > tr {
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #e8eaf2;
}
.ant-table-thead > tr > th {
    background: inherit !important;
    color: #babbc2;
}
.ant-form-item-required::before {
    display: none;
}
.ant-table-column-sorter-up {
    display: none;
}

.avatar-uploader {
    pointer-events: none;
}

.avatar-uploader > .ant-upload {
    width: 200px;
    height: 200px;
    background-color: #1c1c1c;

}
::selection {
    background: #bda7ce;
}
::-moz-selection {
    background: #bda7ce;
}
.ant-btn-primary {
    border-color: #bda7ce;
}
.ant-table-thead > tr > th:hover {
    background: inherit !important;
    color: #bda7ce;
}
.ant-table-selection-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ant-table-selection-menu > li {
    cursor: pointer;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.ant-table-selection-menu > li:hover, .ant-table-selection-menu > li:focus {
    color: #bda7ce;
    background-color: #f5f7fb !important;
}
#paypalForm {
    display: none;
}
td {
    color: #0f1936;
}
.ant-form-item-label > label {
    font-size: 12px;
    color: #afb4c5;
    letter-spacing: 0.43px;
}
.ant-form-item-label {
    margin-bottom: 5px;
    line-height: inherit;
}
.ant-select-selection__placeholder {
    margin-top: -7px;
}
.ant-message-notice-content {
    width: auto;
    padding: 0 !important;
}
.ant-message-custom-content {
    padding: 10px 20px;
}
.ant-message-notice-content {
    background-color: initial !important;
}
.ant-message-info {
    height: 46px;
    border-radius: 6px !important;
    background-color: #c6ebfb;
    border: solid 1px #54c0ef;
}
.ant-message-success{
    height: 46px;
    border-radius: 6px !important;
    background-color: #ffb2bc !important;
    border: solid 1px #ff445b !important;
}
.ant-message-warning, .ant-message-error {
    height: 46px;
    border-radius: 6px !important;
    background-color: #ffe49f !important;
    border: solid 1px #f5c623 !important;
}
.has-error .ant-form-explain, .has-error .ant-form-split {
    color: #f5222d;
    margin-top: 5px !important;
}
.anticon.anticon-check-circle, .anticon.anticon-info-circle, .anticon.anticon-exclamation-circle,
.anticon.anticon-cross-circle
{
    display: none;
}
.ant-table-tbody > tr .ant-table-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #bda7ce;
    border-color: #bda7ce;
}
.ant-input:focus {
    border-color: #bda7ce;
}
table {
    border-spacing: 0 5px !important;
}
. nt-checkbox-wrapper {
    border-spacing: 0 0 !important;
}
.rdrDateDisplayWrapper {
    display: none;
}
.rdrCalendarWrapper {
    width: 286px;
}
.rdrCalendarWrapper > * {
    width: inherit;
}
.rdrCalendarWrapper > div >div {
    width: inherit;
}
.rdrNextPrevButton {
    background: white !important;
}
.rdrYearPicker {
}
.rdrMonthAndYearPickers select {
    background: inherit !important;
    padding: 10px 0 10px 0px !important;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #515f89 !important;
}
.rdrWeekDay {
    font-size: 12px;
    font-weight: 500 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b2b7c7 !important;
}
.rdrDayNumber {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #374363;
}
.rdrMonthPicker > select {
    text-align: right !important;
}
.rdrCalendarWrapper.rdrDateRangeWrapper.PreviewArea {
    border-radius: 4px;
    border: 1px solid #e8eaf2;
}
.ant-select-selection.ant-select-selection--single {
    height: 28px;
    line-height: 28px;
}
.ant-select-selection.ant-select-selection--single > div {
    line-height: inherit;
}
.dateRanger > div > div > div > div {
    padding: 0 !important;
}
select::-ms-expand {
    display: none !important;
}
table > thead > tr > th:first-child > span > div {
    min-width: 35px;
    margin-left: 15px;
}
tr > td:first-child {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}
tr > td:last-child {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
ul.ant-table-pagination {
    margin: 0 0 !important;
    height: 28px;
}
.ant-table-pagination > li {
    border-radius: 0 !important;
    margin: 0 !important;
}
.ant-table-pagination > li:first-child > a{
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}
.ant-table-pagination > li:last-child > a{
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.ant-table-pagination > li > a {
    border-radius: 0 !important;
    margin: 0 !important;
}
.ant-table-thead > tr > th {
    border-bottom: 0px;
}
.ant-table-thead > tr > th {
    padding: 6px 16px !important;
}
.ant-table-tbody > tr > td {

}
.table-row-button {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.30);
}
.ant-modal-close {
    right: -60px;
    color: white !important;
    top: -15px;
}
.ant-modal-content {
    border-radius: 6px;
}
.ant-modal-footer, .ant-modal-header {
    display: none;
}
.ant-input, .ant-input-number-input {
    height: 40px !important;
}
.ant-input-number {
    height: 42px;
}
.ant-input {
    height: 42px !important;
}
.ant-select-auto-complete.ant-select .ant-select-selection--single {
    height: 42px;
}
.ant-select-selection__placeholder {
    margin-top: -9px;
}
.ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover {
    color: #bda7ce;
    font-weight: normal;
    background-color: inherit;
}
.ant-select-dropdown-menu-item-selected {
    background-color: inherit;
}
.ant-select-dropdown-menu-item-selected > div {
    width: 6px;
    height: 6px;
    display: inline-block;
    float: right;
    margin-top: 8px;
    border-radius: 50%;
    background-color: #bda7ce;
}
.ant-select-dropdown-menu-item-selected {
    display: flex;
    justify-content: space-between;
}

a:hover {
    color: black;
}

a {
    color: #8a848c;
}

button:hover, button:active, button:focus, button:visited {
    border-color: #ce9ed4 !important;
    color: #ce9ed4 !important;
}

.ant-input:hover {
    border-color: #ce9ed4 !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: #ce9ed4 !important
}

.ant-menu-item:active, .ant-menu-submenu-title:active {
    background: white
}

.ant-menu-submenu-active {
    color: #ce9ed4 !important
}

.ant-menu-submenu-title > i:hover, .ant-menu-submenu-title > i:active, .ant-menu-submenu-title > i:focus {
    background-color: #ce9ed4 !important
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before {
    background: -webkit-gradient(linear, left top, right top, from(#bda7ce), to(#bda7ce)) !important;
    background: -webkit-linear-gradient(left, #bda7ce, #bda7ce) !important;
    background: -o-linear-gradient(left, #bda7ce, #bda7ce) !important;
    background: linear-gradient(to right, #bda7ce, #bda7ce) !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fee6ff !important;
    color: #ce9ed5 !important;
    border-right-color: #ce9ed5 !important;
}

.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
    border-right: 3px solid #ce9ed5;
}

.ant-calendar-picker {
    width: 100%;
}

.ant-layout-content {
    padding-left: 50px;
}
