
.home
  position: relative
  display: flex
  flex-direction: column

.home > *
  position: relative

.home > img:nth-child(2)
  position: absolute
  width: 100%
  left: 0
  top: 370px

.home > h1
  margin-top: 100px
  font-size: 3.5em

.home > a
  margin-top: 20px

.home > a > button
  width: 150px
  margin-top: 20px
  height: 50px
  font-size: 16px

.home > img:last-child
  width: 800px
  margin: 0 auto

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 5px 2%
  position: relative

.header > a
  height: 50px

.header > a > img
  height: inherit

.navhead
  display: flex
  align-items: center

.navhead > a
  color: #222222
  transition: 0.5s

.navhead > a
  margin: 10px

.navhead > a:hover, .navhead > a:active, .navhead > a:focus
  color: #ce9ed4

.descr
  margin-top: 40px
  line-height: 25px

.about
  position: relative
  width: 100%
  height: 900px

.about > img
  position: absolute
  left: -405px
  height: 700px

.footer
  background-color: black
  height: 200px
  width: 100%
  margin-top: 50px



