
.formWrapper
  width: 100%
  height: 100vh
  overflow: hidden
  position: relative
  min-height: 950px
  padding-top: 72px
  background-color: #f5f6fa

.formWrapper > img
  position: absolute
  top: 20vh
  width: 100%

.logotype
  width: 222px
  display: block
  margin: 0 auto
  top: 72px
  margin-bottom: 72px

.logotype > a
  width: inherit

.logotype > a > img
  width: inherit

.footer
  /* Style for "CashMetric" */
  position: absolute
  width: 100%
  bottom: 20px

.footer > div
  width: 274px
  height: 21px
  margin: 0 auto
  color: #afb4c5
  font-size: 14px
  font-weight: 400
  /* Text style for "CashMetric" */
  letter-spacing: 0.05px

.form
  position: relative
  margin: 0 auto
  padding: 20px 20px 20px 20px
  width: 352px
  box-shadow: 1px 5px 10px rgba(117, 121, 143, 0.2)
  border-radius: 10px
  border: 1px solid #e8eaf2
  background-color: #ffffff

.loginForm
  display: block
  width: 242px
  margin: 0 auto
  padding-bottom: 20px

.header
  display: block
  margin: 0 auto
  margin-top: 20px
  margin-bottom: 50px
  color: #1c2541
  font-size: 24px
  font-weight: 700
  text-align: center

label:after
  content: none !important

.alert
  color: red

.pwd
  margin-bottom: 8px

.checkbox
  color: #0f1936
  font-size: 14px
  font-weight: 400

.error
  display: inline-block
  text-align: center
  width: 100%
  color: red
  transition: 0.5s
  margin-top: 5px
  margin-bottom: 8px

.submit
  display: block !important
  width: 100% !important
  height: 52px !important
  margin-top: 55px !important
  border-radius: 6px !important
  background-color: #0f0200 !important
  color: #ffffff !important
  font-size: 16px !important
  font-weight: 700 !important
  border-color: black !important

.label
  color: #afb4c5
  font-size: 14px
  font-weight: 400
  line-height: 20px
  text-align: center
  margin-top: 28px
  z-index: 15
  position: relative

.label > span
  color: #000000 !important
  font-weight: bold
  cursor: pointer
  z-index: 20
  text-decoration: underline
