.navbar 
  min-height: 100vh
  height: 100%
  width: 250px
  position: relative
  float: left
  background-color: #1e1e1e
  text-align: left

.navbar > a
  margin-left: 40px
  margin-bottom: 40px

.navbar > div
  text-align: left
  margin-left: 30px
  color: white
  margin-top: 25px

.navbar > a:nth-child(2)
  margin-top: 40px

.navbar > div:nth-child(3)
  margin-top: 40px
  margin-bottom: 25px

.navbar > a:nth-child(4), .navbar > a:nth-child(2)
  margin-left: 31px
  display: block
  color: white

.navbar > a:nth-child(4) > i, .navbar > a:nth-child(2) >i
  margin-right: 10px

.navbar > div:nth-child(2), .navbar > div:nth-child(3), .navbar > a:nth-child(4)
  cursor: pointer

.navbar > a:nth-child(2):hover, .navbar > div:nth-child(3):hover, .navbar > a:nth-child(4):hover
  color: #ce9ed5

.navbar > div > i
  margin-right: 10px
  font-size: 1.2em

.navbar > ul 
  list-style: none
  padding-left: 0
  text-align: left
  background-color: inherit
  color: white
  width: 251px !important
  margin-top: 50px

.navbar > ul:hover, .navbar > ul:active, .navbar > ul:focus
  background-color: inherit

.navbar > ul > li > a 
  height: 44px
  color: white
  padding: 11.5px 0
  display: block
  text-decoration: none
  transition: 0.2s

.navbar > ul > li > a:hover, .navbar > ul > li > a:visited, .navbar > ul > li > a:active, .navbar > ul > li > a:focus, .navbar > ul > li > a:link 
  color: white

.navbar > ul > li > a > span:hover 
  color: #496180

.navbar > ul > li > a 
  border-left: 5px solid #0f1936

.navbar > ul > li > a:hover 
  background-color: #09122f
  border-color: #ce9ed5

.icon 
  color: #496180
  margin-left: 10%
  margin-right: 8%

.logotype
  height: 25px
  margin: 0 auto
  margin-top: 25px

.links 
  position: absolute
  bottom: 0
  padding: 0 0 18px 20px

.links > a 
  display: block
  line-height: 30px
  text-decoration: none
  color: white

.disable
  pointer-events : none
  blur: 0.5
