.name 
  margin-bottom: 12px !important

.qty 
  margin-left: 30px

.qtyNumber
  width: 103px;

.size 
  width: 74px
  margin-right: 30px

.status 
  margin-top: 20px


.modalHeader 
  text-align: center
  color: #ce9ed4
  font-size: 24px
  margin-top: 20px

.form 
  display: flex
  width: 520px
  margin: 0 auto
  justify-content: space-between
  margin-top: 25px

.settingsForm 
  width: 360px
  margin: 0 auto

.settingsForm > div 
  display: inline-flex

.settingsForm > div > div:first-child 
  text-align: left !important
  width: 100px

.modalHeaderSettings 
  margin-top: 10px
  margin-bottom: 40px

.submitButtonSettings 
  margin-bottom: 20px

.uploadPhotoIcon 
  font-size: 3.5em
  color: #ce9ed4

.form > div:last-child 
  width: 242px

.leftbar 
  width: 165px
  margin-right: 30px
  margin-top: 40px

.leftbar > span > div > span 
  height: inherit !important

.rightbar 
  width: 242px

.rightbar > div 
  margin-bottom: 0px

.rightbar > div:nth-child(2)
  margin-bottom: 15px

.rightside 
  display: inline-flex
  width: 100%
  margin-bottom: 15px !important

.rightside:nth-child(3) > div:first-child 
  width: 138px

.rightside > div 
  margin-bottom: 0px

.inputNumberPrice 
  width: 242px !important

.inputNumberPrice > div:first-child 
  display: none

.inputNumberPrice > div:first-child > input 
  padding-right: 23px

.submit 
  text-align: center
  margin-top: 40px
  margin-bottom: 15px

.dollarNumber 
  position: absolute
  display: inline
  top: 1px
  line-height: 20px
  right: 12px
  font-size: 14px
  color: #babbc2
  background-color: white

.submitButton 
  font-size: 16px
  width: 242px !important
  height: 52px !important
  border-radius: 6px !important
  background-color: #ce9ed4 !important
  color: white !important
  margin-top: 30px

.submitButton:hover, .submitButton:active, .submitButton:focus
  color: white !important

.submit > div 
  display: inline-block

.image 
  width: inherit

.inputNumberMinStep, .inputMaxStep
  width: 105px !important

.rightside > div:last-child
  margin-left: 32px !important