
.settings
  padding: 30px 5%
  text-align: left

.settings > main
  display: flex
  flex-direction: column
  align-items: baseline

.settings > header
  margin-bottom: 40px
  width: 100%
  text-align: left
  margin-right: 2%
  padding-bottom: 25px
  border-bottom: 2px solid lightgray
  font-size: 24px

.settings > header > h2
  color: #babbc2

.box
  background-color: white
  display: inline-block
  text-align: left
  border: 1px solid lightgray
  min-height: 100px
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  min-width: 600px
  margin-bottom: 40px
  padding: 15px 0px

.box > h3
  color: #babbc2
  margin: 0 20px
  font-size: 0.9em
  margin-bottom: 10px

.profile
  display: flex
  flex-direction: column

.profile > div:first-child
  border-bottom: 1px solid lightgray
  margin-bottom: 10px

.profile > div
  color: #62525b
  padding: 0px 20px

.profile > div:first-child > div
  width: 48%

.profile > div:nth-child(2) > div
  width: 58%

.profile > div:last-child > div
  width: 58%

.profile > div > div
  line-height: 30px

.submit
  float: right
  width: 100px
  height: 40px !important
  font-size: 16px !important
  color: #62525b !important
  background-color: #fdfdfd !important

.balance
  display: flex
  justify-content: space-between

.balance > *
  padding: 0 20px

.balance > img
  margin: 15px 20px



.balance > div
  display: flex
  flex-direction: column
  width: 100%

.balance > div > div:first-child > span:first-child
  max-width: 300px
  word-wrap: break-word


.balance > div > div
  display: flex
  justify-content: space-between

.balance > div > div:first-child
  margin-top: 20px
  margin-bottom: 12px

.balance > div > div:nth-child(2)
  margin-bottom: 10px

.disable
  pointer-events : none
  blur: 0.5
