.header 
  display: flex
  justify-content: space-between
  height: 72px
  margin-left: 50px
  background-color: #ffffff
  box-shadow: 0 1px 0 0 #dcdfe9

.disable  
  -webkit-transition: all 1s ease
  -moz-transition: all 1s ease
  -o-transition: all 1s ease
  -ms-transition: all 1s ease
  transition: all 1s ease
  -webkit-filter: opacity(50%)
  cursor: not-allowed

.items 
  display: flex
  justify-content: flex-end
  align-items: center
  margin-right: 52px
  height: 100%
  white-space: nowrap

.user 
  font-size: 1.15em
  display: inline-block
  border-left: 1px solid #eeeff3
  height: 42px !important
  line-height: 42px
  padding-left: 26px
  margin-left: 26px
  color: #0f1936
  cursor: pointer

.user > a:link, .user > a:hover, .user > a:active, .user > a:visited 
  text-decoration: none !important
  color: #0f1936

.user > a >i 
  margin-left: 5px

.list, .procents 
  border-left: 1px solid #eeeff3
  height: 42px
  line-height: 42px
  margin-top: 15px
  cursor: pointer
  color: #0f1936
  padding-left: 26px
  margin-left: 26px
  transition: 0.2s
  display: inline-block

.dropdown 
  margin-left: -55px !important
  padding-top: 10px
  padding-bottom: 10px

.dropdown > li 
  cursor: pointer
  padding-left: 20px !important
  padding-right: 20px !important

.dropdown > li:hover, .dropdown > li:focus 
  color: #ce9ed4
  background-color: #f5f7fb !important

.menu 
  padding: 10px 15px 10px 15px !important

.ant-dropdown 
  padding-top: 13px !important
  padding-bottom: 13px !important

.list > span > i, .procents > span > i 
  font-size: 2em
  color: #0f1936

.list > span > sup 
  top: -3px
  height: 9px
  border-radius: 14px
  max-width: 9px
  min-width: 9px
  padding: 0 4.5px
  font-size: 0px
  box-shadow: 0 0 0 4px #fff
  background-color: #ce9ed4

.pricePopover > div > div:first-child 
  background-color: #ce9ed4 !important

.pricePopover > div > div:last-child > div > div 
  padding: 0 !important

.icon 
  color: #0f1936
  font-size: 2em

.icon:active, .icon:focus, .icon:hover 
  color: #ce9ed4

.balance
  display: flex
  align-items: center

.balance > img
  height: 42px
  margin-right: 5px

.username:hover, .username:focus, .username:active
  color: #ce9ed4 !important